resources/logappdeploy.eventgridhandler-facebook.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "name": {
      "type": "string"
    },
    "env": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "dev",
        "test",
        "prod"
      ]
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "locationCode": {
      "type": "string",
      "defaultValue": "krc"
    },
    "youTubeChannelId": {
      "type": "string"
    },
    "youTubeEventType": {
      "type": "string",
      "defaultValue": "com.youtube.video.converted"
    },
    "youTubeTitleSegment": {
      "type": "string"
    },
    "facebookPageId": {
      "type": "string"
    },
    "iftttEventName": {
      "type": "string",
      "defaultValue": "facebook"
    },
    "iftttWebhookKey": {
      "type": "secureString"
    }
  },
  "functions": [],
  "variables": {
    "metadata": {
      "longName": "[format('{{0}}-{0}-{1}-{2}{{1}}', parameters('name'), parameters('env'), parameters('locationCode'))]",
      "shortName": "[format('{{0}}{0}{1}{2}', parameters('name'), parameters('env'), parameters('locationCode'))]"
    },
    "logicApp": {
      "name": "[format(format(variables('metadata').longName, 'logapp', '-eventgrid-sub-handler-facebook-{0}'), parameters('facebookPageId'))]",
      "location": "[parameters('location')]"
    },
    "youtube": {
      "source": "[format('https://www.youtube.com/xml/feeds/videos.xml?channel_id={0}', parameters('youTubeChannelId'))]",
      "type": "[parameters('youTubeEventType')]",
      "titleSegment": "[parameters('youTubeTitleSegment')]"
    },
    "facebook": {
      "source": "[format('https://facebook.com/{0}', parameters('facebookPageId'))]"
    },
    "ifttt": {
      "endpoint": "[format('https://maker.ifttt.com/trigger/{0}/with/key/{1}', parameters('iftttEventName'), parameters('iftttWebhookKey'))]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicApp').name]",
      "location": "[variables('logicApp').location]",
      "properties": {
        "state": "Enabled",
        "parameters": {
          "iftttEndpoint": {
            "value": "[variables('ifttt').endpoint]"
          }
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "object",
              "defaultValue": {}
            },
            "acceptedYouTubeSource": {
              "type": "string",
              "defaultValue": "[variables('youtube').source]"
            },
            "acceptedYouTubeType": {
              "type": "string",
              "defaultValue": "[variables('youtube').type]"
            },
            "acceptedYouTubeTitleSegment": {
              "type": "string",
              "defaultValue": "[variables('youtube').titleSegment]"
            },
            "iftttEndpoint": {
              "type": "string",
              "defaultValue": ""
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "specversion": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string"
                    },
                    "datacontenttype": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "channelId": {
                          "type": "string"
                        },
                        "videoId": {
                          "type": "string"
                        },
                        "title": {
                          "type": "string"
                        },
                        "description": {
                          "type": "string"
                        },
                        "link": {
                          "type": "string"
                        },
                        "thumbnailLink": {
                          "type": "string"
                        },
                        "datePublished": {
                          "type": "string"
                        },
                        "dateUpdated": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Proceed_Only_If_Accepted_Source": {
              "type": "If",
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['data']?['source']",
                      "@parameters('acceptedYouTubeSource')"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['data']?['type']",
                      "@parameters('acceptedYouTubeType')"
                    ]
                  }
                ]
              },
              "actions": {},
              "else": {
                "actions": {
                  "Cancel_Processing_Post": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            },
            "Split_Title": {
              "type": "Compose",
              "runAfter": {
                "Proceed_Only_If_Accepted_Source": [
                  "Succeeded"
                ]
              },
              "inputs": "@split(triggerBody()?['data']?['title'], '|')"
            },
            "Process_Only_If_Title_Met": {
              "type": "If",
              "runAfter": {
                "Split_Title": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@trim(last(outputs('Split_Title')))",
                      "@parameters('acceptedYouTubeTitleSegment')"
                    ]
                  }
                ]
              },
              "actions": {
                "Build_IFTTT_Post": {
                  "type": "Compose",
                  "runAfter": {},
                  "inputs": {
                    "value1": "@{trim(first(outputs('Split_Title')))} | @{trim(first(skip(outputs('Split_Title'), 1)))}",
                    "value2": "@replace(triggerBody()?['data']?['description'], '\n', '<br>&nbsp;<br>')",
                    "value3": "@triggerBody()?['data']?['link']"
                  }
                }
              },
              "else": {
                "actions": {
                  "Cancel_Posting_Facebook": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            },
            "Send_IFTTT_Post": {
              "type": "Http",
              "runAfter": {
                "Process_Only_If_Title_Met": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "method": "POST",
                "uri": "@parameters('iftttEndpoint')",
                "headers": {
                  "Content-Type": "application/json"
                },
                "body": "@outputs('Build_IFTTT_Post')"
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicApp').name]"
    }
  }
}