resources/logappdeploy.eventgridhandler-retweeter.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "name": {
      "type": "string"
    },
    "env": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "dev",
        "test",
        "prod"
      ]
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "locationCode": {
      "type": "string",
      "defaultValue": "krc"
    },
    "twitterProfileId": {
      "type": "string"
    },
    "twitterEventType": {
      "type": "string",
      "defaultValue": "com.twitter.tweet.posted"
    },
    "retweeterProfileId": {
      "type": "string"
    }
  },
  "functions": [],
  "variables": {
    "metadata": {
      "longName": "[format('{{0}}-{0}-{1}-{2}{{1}}', parameters('name'), parameters('env'), parameters('locationCode'))]",
      "shortName": "[format('{{0}}{0}{1}{2}', parameters('name'), parameters('env'), parameters('locationCode'))]"
    },
    "twitterConnector": {
      "id": "[format('{0}/providers/Microsoft.Web/locations/{1}/managedApis/twitter', subscription().id, parameters('location'))]",
      "connectionId": "[format('{0}/providers/Microsoft.Web/connections/{1}', resourceGroup().id, format(format(variables('metadata').longName, 'apicon', '-twitter-{0}'), parameters('retweeterProfileId')))]",
      "connectionName": "[format(format(variables('metadata').longName, 'apicon', '-twitter-{0}'), parameters('retweeterProfileId'))]",
      "location": "[parameters('location')]"
    },
    "logicApp": {
      "name": "[format(format(variables('metadata').longName, 'logapp', '-eventgrid-sub-handler-retwitter-{0}'), parameters('retweeterProfileId'))]",
      "location": "[parameters('location')]"
    },
    "twitter": {
      "source": "[format('https://twitter.com/{0}', parameters('twitterProfileId'))]",
      "type": "[parameters('twitterEventType')]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('twitterConnector').connectionName]",
      "location": "[variables('twitterConnector').location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('twitterConnector').connectionName]",
        "api": {
          "id": "[variables('twitterConnector').id]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicApp').name]",
      "location": "[variables('logicApp').location]",
      "properties": {
        "state": "Enabled",
        "parameters": {
          "$connections": {
            "value": {
              "twitter": {
                "id": "[variables('twitterConnector').id]",
                "connectionId": "[variables('twitterConnector').connectionId]",
                "connectionName": "[variables('twitterConnector').connectionName]"
              }
            }
          }
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "object",
              "defaultValue": {}
            },
            "acceptedTwitterSource": {
              "type": "string",
              "defaultValue": "[variables('twitter').source]"
            },
            "acceptedTwitterType": {
              "type": "string",
              "defaultValue": "[variables('twitter').type]"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "specversion": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string"
                    },
                    "datacontenttype": {
                      "type": "string"
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "TweetId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Proceed_Only_If_Accepted_Source": {
              "type": "If",
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['source']",
                      "@parameters('acceptedTwitterSource')"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['type']",
                      "@parameters('acceptedTwitterType')"
                    ]
                  }
                ]
              },
              "actions": {
                "Retweet_Post": {
                  "type": "ApiConnection",
                  "runAfter": {},
                  "inputs": {
                    "method": "POST",
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['twitter']['connectionId']"
                      }
                    },
                    "path": "/retweet",
                    "queries": {
                      "tweetId": "@triggerBody()?['data']?['TweetId']",
                      "trimUser": false
                    }
                  }
                }
              },
              "else": {
                "actions": {
                  "Cancel_Process_Retweeting": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            }
          },
          "outputs": {}
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('twitterConnector').connectionName)]"
      ]
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicApp').name]"
    }
  }
}