resources/logappdeploy.eventgridhandler-twitter.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "name": {
      "type": "string"
    },
    "env": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "dev",
        "test",
        "prod"
      ]
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "locationCode": {
      "type": "string",
      "defaultValue": "krc"
    },
    "functionName": {
      "type": "string",
      "defaultValue": "FetchAsync"
    },
    "youTubeEventType": {
      "type": "string",
      "defaultValue": "com.youtube.video.published"
    },
    "youTubeChannelId": {
      "type": "string"
    },
    "youTubeTitleSegment": {
      "type": "string"
    },
    "twitterProfileId": {
      "type": "string"
    },
    "twitterEventType": {
      "type": "string",
      "defaultValue": "com.twitter.tweet.posted"
    }
  },
  "functions": [],
  "variables": {
    "metadata": {
      "longName": "[format('{{0}}-{0}-{1}-{2}{{1}}', parameters('name'), parameters('env'), parameters('locationCode'))]",
      "shortName": "[format('{{0}}{0}{1}{2}', parameters('name'), parameters('env'), parameters('locationCode'))]"
    },
    "twitterConnector": {
      "id": "[format('{0}/providers/Microsoft.Web/locations/{1}/managedApis/twitter', subscription().id, parameters('location'))]",
      "connectionId": "[format('{0}/providers/Microsoft.Web/connections/{1}', resourceGroup().id, format(format(variables('metadata').longName, 'apicon', '-twitter-{0}'), parameters('twitterProfileId')))]",
      "connectionName": "[format(format(variables('metadata').longName, 'apicon', '-twitter-{0}'), parameters('twitterProfileId'))]",
      "location": "[parameters('location')]"
    },
    "logicApp": {
      "name": "[format(format(variables('metadata').longName, 'logapp', '-eventgrid-sub-handler-twitter-{0}'), parameters('twitterProfileId'))]",
      "location": "[parameters('location')]"
    },
    "functionApp": {
      "name": "[format(variables('metadata').longName, 'fncapp', '')]",
      "functionResourceId": "[resourceId('Microsoft.Web/sites/functions', format(variables('metadata').longName, 'fncapp', ''), parameters('functionName'))]"
    },
    "eventGridTopic": {
      "name": "[format(variables('metadata').longName, 'evtgrd', '-topic')]",
      "resourceId": "[resourceId('Microsoft.EventGrid/topics', format(variables('metadata').longName, 'evtgrd', '-topic'))]"
    },
    "youtube": {
      "source": "[format('https://www.youtube.com/xml/feeds/videos.xml?channel_id={0}', parameters('youTubeChannelId'))]",
      "type": "[parameters('youTubeEventType')]",
      "titleSegment": "[parameters('youTubeTitleSegment')]"
    },
    "twitter": {
      "source": "[format('https://twitter.com/{0}', parameters('twitterProfileId'))]",
      "type": "[parameters('twitterEventType')]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('twitterConnector').connectionName]",
      "location": "[variables('twitterConnector').location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('twitterConnector').connectionName]",
        "api": {
          "id": "[variables('twitterConnector').id]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicApp').name]",
      "location": "[variables('logicApp').location]",
      "properties": {
        "state": "Enabled",
        "parameters": {
          "$connections": {
            "value": {
              "twitter": {
                "id": "[variables('twitterConnector').id]",
                "connectionId": "[variables('twitterConnector').connectionId]",
                "connectionName": "[variables('twitterConnector').connectionName]"
              }
            }
          },
          "functionAppKey": {
            "value": "[listKeys(variables('functionApp').functionResourceId, '2020-06-01').default]"
          },
          "eventGridTopicEndpoint": {
            "value": "[reference(variables('eventGridTopic').resourceId, '2020-06-01', 'Full').properties.endpoint]"
          },
          "eventGridTopicKey": {
            "value": "[listKeys(variables('eventGridTopic').resourceId, '2020-06-01').key1]"
          }
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "object",
              "defaultValue": {}
            },
            "functionAppName": {
              "type": "string",
              "defaultValue": "[variables('functionApp').name]"
            },
            "functionAppKey": {
              "type": "string",
              "defaultValue": ""
            },
            "acceptedYouTubeSource": {
              "type": "string",
              "defaultValue": "[variables('youtube').source]"
            },
            "acceptedYouTubeType": {
              "type": "string",
              "defaultValue": "[variables('youtube').type]"
            },
            "acceptedYouTubeTitleSegment": {
              "type": "string",
              "defaultValue": "[variables('youtube').titleSegment]"
            },
            "eventGridTopicEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "eventGridTopicKey": {
              "type": "string",
              "defaultValue": ""
            },
            "twitterSource": {
              "type": "string",
              "defaultValue": "[variables('twitter').source]"
            },
            "twitterType": {
              "type": "string",
              "defaultValue": "[variables('twitter').type]"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "specversion": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string"
                    },
                    "datacontenttype": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "traceparent": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Proceed_Only_If_Published": {
              "type": "If",
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['source']",
                      "@parameters('acceptedYouTubeSource')"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['type']",
                      "@parameters('acceptedYouTubeType')"
                    ]
                  }
                ]
              },
              "actions": {
                "Fetch_YouTube_Video_Details": {
                  "type": "Http",
                  "runAfter": {},
                  "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('functionAppName')}.azurewebsites.net/api/fetch",
                    "headers": {
                      "x-functions-key": "@parameters('functionAppKey')"
                    },
                    "body": "@triggerBody()"
                  }
                }
              },
              "else": {
                "actions": {
                  "Cancel_Processing_Event": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            },
            "Split_Title": {
              "type": "Compose",
              "runAfter": {
                "Proceed_Only_If_Published": [
                  "Succeeded"
                ]
              },
              "inputs": "@split(body('Fetch_YouTube_Video_Details')?['title'], '|')"
            },
            "Split_Description": {
              "type": "Compose",
              "runAfter": {
                "Proceed_Only_If_Published": [
                  "Succeeded"
                ]
              },
              "inputs": "@split(body('Fetch_YouTube_Video_Details')?['description'], '---')"
            },
            "Process_Only_If_Title_Met": {
              "type": "If",
              "runAfter": {
                "Split_Title": [
                  "Succeeded"
                ],
                "Split_Description": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@trim(last(outputs('Split_Title')))",
                      "@parameters('acceptedYouTubeTitleSegment')"
                    ]
                  }
                ]
              },
              "actions": {
                "Build_Tweet_Post": {
                  "type": "Compose",
                  "runAfter": {},
                  "inputs": "@{trim(first(outputs('Split_Description')))}\n\n@{body('Fetch_YouTube_Video_Details')?['link']}"
                }
              },
              "else": {
                "actions": {
                  "Cancel_Tweeting_Post": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            },
            "Post_Tweet": {
              "type": "ApiConnection",
              "runAfter": {
                "Process_Only_If_Title_Met": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "method": "POST",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['twitter']['connectionId']"
                  }
                },
                "path": "/posttweet",
                "queries": {
                  "tweetText": "@{outputs('Build_Tweet_Post')}"
                }
              }
            },
            "Build_CloudEvents_Payload": {
              "type": "Compose",
              "runAfter": {
                "Post_Tweet": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "id": "@guid()",
                "specversion": "1.0",
                "source": "@parameters('twitterSource')",
                "type": "@parameters('twitterType')",
                "time": "@utcNow()",
                "datacontenttype": "application/cloudevents+json",
                "data": "@body('Post_Tweet')"
              }
            },
            "Send_EventGrid_Tweet": {
              "type": "Http",
              "runAfter": {
                "Build_CloudEvents_Payload": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "method": "POST",
                "uri": "@parameters('eventGridTopicEndpoint')",
                "headers": {
                  "aeg-sas-key": "@parameters('eventGridTopicKey')",
                  "Content-Type": "@outputs('Build_CloudEvents_Payload')?['datacontenttype']",
                  "ce-id": "@outputs('Build_CloudEvents_Payload')?['id']",
                  "ce-specversion": "@outputs('Build_CloudEvents_Payload')?['specversion']",
                  "ce-source": "@outputs('Build_CloudEvents_Payload')?['source']",
                  "ce-type": "@outputs('Build_CloudEvents_Payload')?['type']",
                  "ce-time": "@outputs('Build_CloudEvents_Payload')?['time']"
                },
                "body": "@outputs('Build_CloudEvents_Payload')"
              }
            }
          },
          "outputs": {}
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('twitterConnector').connectionName)]"
      ]
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicApp').name]"
    }
  }
}