resources/logappdeploy.eventgridhandler-twitter.azpls.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "name": {
      "type": "string"
    },
    "env": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "dev",
        "test",
        "prod"
      ]
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "locationCode": {
      "type": "string",
      "defaultValue": "krc"
    },
    "logicAppAcceptedEventType": {
      "type": "string",
      "defaultValue": "com.youtube.video.published"
    },
    "logicAppAcceptedTitleSegment": {
      "type": "string",
      "defaultValue": "애저듣보잡"
    },
    "functionName": {
      "type": "string",
      "defaultValue": "FetchAsync"
    }
  },
  "functions": [],
  "variables": {
    "metadata": {
      "longName": "[format('{{0}}-{0}-{1}-{2}{{1}}', parameters('name'), parameters('env'), parameters('locationCode'))]",
      "shortName": "[format('{{0}}{0}{1}{2}', parameters('name'), parameters('env'), parameters('locationCode'))]"
    },
    "twitterConnector": {
      "id": "[format('{0}/providers/Microsoft.Web/locations/{1}/managedApis/twitter', subscription().id, parameters('location'))]",
      "connectionId": "[format('{0}/providers/Microsoft.Web/connections/{1}', resourceGroup().id, format(variables('metadata').longName, 'apicon', '-twitter-azpls'))]",
      "connectionName": "[format(variables('metadata').longName, 'apicon', '-twitter-azpls')]",
      "location": "[parameters('location')]"
    },
    "logicApp": {
      "name": "[format(variables('metadata').longName, 'logapp', '-eventgrid-sub-handler-twitter')]",
      "location": "[parameters('location')]",
      "acceptedEventType": "[parameters('logicAppAcceptedEventType')]",
      "acceptedTitleSegment": "[parameters('logicAppAcceptedTitleSegment')]"
    },
    "functionApp": {
      "name": "[format(variables('metadata').longName, 'fncapp', '')]",
      "functionResourceId": "[resourceId('Microsoft.Web/sites/functions', format(variables('metadata').longName, 'fncapp', ''), parameters('functionName'))]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('twitterConnector').connectionName]",
      "location": "[variables('twitterConnector').location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('twitterConnector').connectionName]",
        "api": {
          "id": "[variables('twitterConnector').id]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicApp').name]",
      "location": "[variables('logicApp').location]",
      "properties": {
        "state": "Enabled",
        "parameters": {
          "$connections": {
            "value": {
              "twitter": {
                "id": "[variables('twitterConnector').id]",
                "connectionId": "[variables('twitterConnector').connectionId]",
                "connectionName": "[variables('twitterConnector').connectionName]"
              }
            }
          },
          "functionAppKey": {
            "value": "[listKeys(variables('functionApp').functionResourceId, '2020-06-01').default]"
          }
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "object",
              "defaultValue": {}
            },
            "acceptedEventType": {
              "type": "string",
              "defaultValue": "[variables('logicApp').acceptedEventType]"
            },
            "functionAppName": {
              "type": "string",
              "defaultValue": "[variables('functionApp').name]"
            },
            "functionAppKey": {
              "type": "string",
              "defaultValue": ""
            },
            "acceptedTitleSegment": {
              "type": "string",
              "defaultValue": "[variables('logicApp').acceptedTitleSegment]"
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "specversion": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string"
                    },
                    "datacontenttype": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "traceparent": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Proceed_Only_If_Published": {
              "type": "If",
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['type']",
                      "@parameters('acceptedEventType')"
                    ]
                  }
                ]
              },
              "actions": {
                "Fetch_YouTube_Video_Details": {
                  "type": "Http",
                  "runAfter": {},
                  "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('functionAppName')}.azurewebsites.net/api/fetch",
                    "headers": {
                      "x-functions-key": "@parameters('functionAppKey')"
                    },
                    "body": "@triggerBody()"
                  }
                }
              },
              "else": {
                "actions": {
                  "Cancel_Processing_Event": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            },
            "Split_Title": {
              "type": "Compose",
              "runAfter": {
                "Proceed_Only_If_Published": [
                  "Succeeded"
                ]
              },
              "inputs": "@split(body('Fetch_YouTube_Video_Details')?['title'], '|')"
            },
            "Split_Description": {
              "type": "Compose",
              "runAfter": {
                "Proceed_Only_If_Published": [
                  "Succeeded"
                ]
              },
              "inputs": "@split(body('Fetch_YouTube_Video_Details')?['description'], '---')"
            },
            "Process_Only_If_Title_Met": {
              "type": "If",
              "runAfter": {
                "Split_Title": [
                  "Succeeded"
                ],
                "Split_Description": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@trim(last(outputs('Split_Title')))",
                      "@parameters('acceptedTitleSegment')"
                    ]
                  }
                ]
              },
              "actions": {
                "Build_Tweet_Post": {
                  "type": "Compose",
                  "runAfter": {},
                  "inputs": "@{trim(first(outputs('Split_Description')))}\n\n@{body('Fetch_YouTube_Video_Details')?['link']}"
                }
              },
              "else": {
                "actions": {
                  "Cancel_Tweeting_Post": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            },
            "Post_Tweet": {
              "type": "ApiConnection",
              "runAfter": {
                "Process_Only_If_Title_Met": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "method": "POST",
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['twitter']['connectionId']"
                  }
                },
                "path": "/posttweet",
                "queries": {
                  "tweetText": "@{outputs('Build_Tweet_Post')}"
                }
              }
            }
          },
          "outputs": {}
        }
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('twitterConnector').connectionName)]"
      ]
    }
  ]
}