resources/logappdeploy.eventgridhandler-relay.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "name": {
      "type": "string"
    },
    "env": {
      "type": "string",
      "defaultValue": "dev",
      "allowedValues": [
        "dev",
        "test",
        "prod"
      ]
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    },
    "locationCode": {
      "type": "string",
      "defaultValue": "krc"
    },
    "functionName": {
      "type": "string",
      "defaultValue": "FetchAsync"
    },
    "youTubeChannelId": {
      "type": "string"
    },
    "youTubePublishedEventType": {
      "type": "string",
      "defaultValue": "com.youtube.video.published"
    },
    "youTubeConvertedEventType": {
      "type": "string",
      "defaultValue": "com.youtube.video.converted"
    }
  },
  "functions": [],
  "variables": {
    "metadata": {
      "longName": "[format('{{0}}-{0}-{1}-{2}{{1}}', parameters('name'), parameters('env'), parameters('locationCode'))]",
      "shortName": "[format('{{0}}{0}{1}{2}', parameters('name'), parameters('env'), parameters('locationCode'))]"
    },
    "logicApp": {
      "name": "[format(variables('metadata').longName, 'logapp', '-eventgrid-sub-handler-relay')]",
      "location": "[parameters('location')]"
    },
    "functionApp": {
      "name": "[format(variables('metadata').longName, 'fncapp', '')]",
      "functionResourceId": "[resourceId('Microsoft.Web/sites/functions', format(variables('metadata').longName, 'fncapp', ''), parameters('functionName'))]"
    },
    "eventGridTopic": {
      "name": "[format(variables('metadata').longName, 'evtgrd', '-topic')]",
      "resourceId": "[resourceId('Microsoft.EventGrid/topics', format(variables('metadata').longName, 'evtgrd', '-topic'))]"
    },
    "youtube": {
      "source": "[format('https://www.youtube.com/xml/feeds/videos.xml?channel_id={0}', parameters('youTubeChannelId'))]",
      "publishedType": "[parameters('youTubePublishedEventType')]",
      "convertedType": "[parameters('youTubeConvertedEventType')]"
    }
  },
  "resources": [
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2019-05-01",
      "name": "[variables('logicApp').name]",
      "location": "[variables('logicApp').location]",
      "properties": {
        "state": "Enabled",
        "parameters": {
          "functionAppKey": {
            "value": "[listKeys(variables('functionApp').functionResourceId, '2020-06-01').default]"
          },
          "eventGridTopicEndpoint": {
            "value": "[reference(variables('eventGridTopic').resourceId, '2020-06-01', 'Full').properties.endpoint]"
          },
          "eventGridTopicKey": {
            "value": "[listKeys(variables('eventGridTopic').resourceId, '2020-06-01').key1]"
          }
        },
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "type": "object",
              "defaultValue": {}
            },
            "functionAppName": {
              "type": "string",
              "defaultValue": "[variables('functionApp').name]"
            },
            "functionAppKey": {
              "type": "string",
              "defaultValue": ""
            },
            "publishedYouTubeSource": {
              "type": "string",
              "defaultValue": "[variables('youtube').source]"
            },
            "publishedYouTubeType": {
              "type": "string",
              "defaultValue": "[variables('youtube').publishedType]"
            },
            "convertedYouTubeSource": {
              "type": "string",
              "defaultValue": "[variables('youtube').source]"
            },
            "convertedYouTubeType": {
              "type": "string",
              "defaultValue": "[variables('youtube').convertedType]"
            },
            "eventGridTopicEndpoint": {
              "type": "string",
              "defaultValue": ""
            },
            "eventGridTopicKey": {
              "type": "string",
              "defaultValue": ""
            }
          },
          "triggers": {
            "manual": {
              "type": "Request",
              "kind": "Http",
              "inputs": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "specversion": {
                      "type": "string"
                    },
                    "source": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string"
                    },
                    "time": {
                      "type": "string"
                    },
                    "datacontenttype": {
                      "type": "string"
                    },
                    "data": {
                      "type": "string"
                    },
                    "traceparent": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "actions": {
            "Proceed_Only_If_Published": {
              "type": "If",
              "runAfter": {},
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['source']",
                      "@parameters('publishedYouTubeSource')"
                    ]
                  },
                  {
                    "equals": [
                      "@triggerBody()?['type']",
                      "@parameters('publishedYouTubeType')"
                    ]
                  }
                ]
              },
              "actions": {
                "Fetch_YouTube_Video_Details": {
                  "type": "Http",
                  "runAfter": {},
                  "inputs": {
                    "method": "POST",
                    "uri": "https://@{parameters('functionAppName')}.azurewebsites.net/api/fetch",
                    "headers": {
                      "x-functions-key": "@parameters('functionAppKey')"
                    },
                    "body": "@triggerBody()"
                  }
                }
              },
              "else": {
                "actions": {
                  "Cancel_Processing_Event": {
                    "type": "Terminate",
                    "runAfter": {},
                    "inputs": {
                      "runStatus": "Cancelled"
                    }
                  }
                }
              }
            },
            "Build_CloudEvents_Payload": {
              "type": "Compose",
              "runAfter": {
                "Proceed_Only_If_Published": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "id": "@guid()",
                "specversion": "1.0",
                "source": "@parameters('convertedYouTubeSource')",
                "type": "@parameters('convertedYouTubeType')",
                "time": "@utcNow()",
                "datacontenttype": "application/cloudevents+json",
                "data": "@body('Fetch_YouTube_Video_Details')"
              }
            },
            "Send_EventGrid_Tweet": {
              "type": "Http",
              "runAfter": {
                "Build_CloudEvents_Payload": [
                  "Succeeded"
                ]
              },
              "inputs": {
                "method": "POST",
                "uri": "@parameters('eventGridTopicEndpoint')",
                "headers": {
                  "aeg-sas-key": "@parameters('eventGridTopicKey')",
                  "Content-Type": "@outputs('Build_CloudEvents_Payload')?['datacontenttype']",
                  "ce-id": "@outputs('Build_CloudEvents_Payload')?['id']",
                  "ce-specversion": "@outputs('Build_CloudEvents_Payload')?['specversion']",
                  "ce-source": "@outputs('Build_CloudEvents_Payload')?['source']",
                  "ce-type": "@outputs('Build_CloudEvents_Payload')?['type']",
                  "ce-time": "@outputs('Build_CloudEvents_Payload')?['time']"
                },
                "body": "@outputs('Build_CloudEvents_Payload')"
              }
            }
          },
          "outputs": {}
        }
      }
    }
  ],
  "outputs": {
    "logicAppName": {
      "type": "string",
      "value": "[variables('logicApp').name]"
    }
  }
}